# Virtual Environments
venv/
env/
.env

# Python Caches
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/

# IDE & Editor Files
.idea/
.vscode/
.DS_Store

# Machine Learning Files
ml/data/
backend/app/ml_models/
*.pkl
*.joblib
